$header-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'Raleway', sans-serif;

$xs:2%;
$sm:4%;
$md:8%;
$lg:10%;
$xl:12%;
$xxl:20%;


$white:#fff;
$dark:#2d2929;

$light:#f6f3ea;
$light-2:#f3a56d;
$brand-light:#dde7ec;
$brand-dark:#00273b;
$brand-contrast:#dc5c00;
$brand-contrast-2:#0062aa;



$shadow:10px -10px 30px rgba(0,0,0,0.10);
$shadow2:10px 10px 50px rgba(0,0,0,0.10);
$shadow3:10px 10px 50px rgba(0,0,0,0.50);

$text-shadow: 2px 2px 10px rgba(0,0,0,0.25);
$drop-shadow:drop-shadow( 3px 3px 8px rgba(0, 0, 0, .30));